@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: lavenderblush;
}

.todo {
    max-width: 1050px;
    margin: auto;
    padding: 20px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            max-width: 200px;
            width: 100%;
            height: 40px;
            padding: 0 15px;
            border: 1px solid #11253E;
            border-radius: 15px;
            box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.1);

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #c4c4c4;
            }

            @media (max-width: 420px) {
                margin: 0 0 15px;
            }
        }

        @media (max-width: 420px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &-add {
        position: relative;
        display: flex;
        justify-content: center;
        height: 40px;
        margin: 0 0 20px;
        font-size: 16px;
        box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        color: #C4C4C4;

        input {
            width: 100%;
            padding: 0 15px;
            border: 1px solid #11253E;
            border-radius: 15px 0 0 15px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #c4c4c4;
            }
        }

        input.active::placeholder {
            color: tomato;
            transition: 0.2s;
        }

        button {
            max-width: 100px;
            width: 100%;
            border: 1px solid #11253E;
            border-radius: 0 15px 15px 0;
            border-left: 0;
            background: ghostwhite;
            cursor: pointer;

            &:hover {
                transition: 0.1s;
                background: lime;
            }
        }
    }

    &-list {
        &__item {
            position: relative;
            display: grid;
            grid-template-columns: 10fr 0.5fr;
            grid-column-gap: 10px;
            align-items: center;
            border: 1px solid #FFF;
            background: #FFF;
            padding: 10px;
            border: 1px solid #c4c4c4;
            border-radius: 15px;
            margin: 0 0 15px;

            input {
                width: 17px;
                height: 17px;
            }

            &_label {
                p {
                    font-size: 16px;
                    color: #11253E;
                    margin: 5px 0;

                    @media (max-width: 768px) {
                        margin: 0 0 15px;
                    }
                }

                span {
                    font-size: 12px;
                    color: #c4c4c4;
                }
            }

            &_remove {
                width: 17px;
                height: 17px;
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6393:28863)'%3E%3Cpath d='M5.43192 5.43359C5.62595 5.43359 5.7832 5.59085 5.7832 5.78488V12.4242C5.7832 12.6181 5.62595 12.7755 5.43192 12.7755C5.23788 12.7755 5.08063 12.6181 5.08063 12.4242V5.78488C5.08063 5.59085 5.23788 5.43359 5.43192 5.43359Z' fill='%23777676'/%3E%3Cpath d='M9.57645 5.43359C9.77048 5.43359 9.92773 5.59085 9.92773 5.78488V12.4242C9.92773 12.6181 9.77048 12.7755 9.57645 12.7755C9.38241 12.7755 9.22516 12.6181 9.22516 12.4242V5.78488C9.22516 5.59085 9.38241 5.43359 9.57645 5.43359Z' fill='%23777676'/%3E%3Cpath d='M12.598 4.46564V13.1206C12.598 13.6322 12.4104 14.1126 12.0827 14.4573C11.7565 14.8029 11.3026 14.9992 10.8276 15H4.1811C3.7059 14.9992 3.25197 14.8029 2.92593 14.4573C2.59825 14.1126 2.41067 13.6322 2.41067 13.1206V4.46564C1.75928 4.29275 1.33718 3.66345 1.42432 2.99504C1.51159 2.32677 2.08092 1.82688 2.75496 1.82674H4.55352V1.38763C4.55146 1.01837 4.69746 0.663786 4.95887 0.402928C5.22028 0.142208 5.57541 -0.00297272 5.94467 4.61562e-05H9.06399C9.43325 -0.00297272 9.78838 0.142208 10.0498 0.402928C10.3112 0.663786 10.4572 1.01837 10.4551 1.38763V1.82674H12.2537C12.9277 1.82688 13.4971 2.32677 13.5843 2.99504C13.6715 3.66345 13.2494 4.29275 12.598 4.46564V4.46564ZM4.1811 14.2974H10.8276C11.4282 14.2974 11.8954 13.7815 11.8954 13.1206V4.49652H3.11324V13.1206C3.11324 13.7815 3.58048 14.2974 4.1811 14.2974ZM9.75257 1.38763C9.7549 1.20471 9.68299 1.02866 9.55318 0.899533C9.42351 0.770408 9.24704 0.699464 9.06399 0.70262H5.94467C5.76162 0.699464 5.58515 0.770408 5.45548 0.899533C5.32566 1.02852 5.25376 1.20471 5.25609 1.38763V1.82674H9.75257V1.38763ZM12.2537 2.52931H2.75496C2.40573 2.52931 2.12264 2.8124 2.12264 3.16163C2.12264 3.51086 2.40573 3.79395 2.75496 3.79395H12.2537C12.6029 3.79395 12.886 3.51086 12.886 3.16163C12.886 2.8124 12.6029 2.52931 12.2537 2.52931V2.52931Z' fill='%23777676'/%3E%3Cpath d='M7.50418 5.43359C7.69821 5.43359 7.85547 5.59085 7.85547 5.78488V12.4242C7.85547 12.6181 7.69821 12.7755 7.50418 12.7755C7.31015 12.7755 7.1529 12.6181 7.1529 12.4242V5.78488C7.1529 5.59085 7.31015 5.43359 7.50418 5.43359Z' fill='%23777676'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6393:28863'%3E%3Crect width='15' height='15' fill='white' transform='matrix(-1 0 0 1 15 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
                justify-self: end;
                border: 0;
                cursor: pointer;

                &_controls {
                    position: absolute;
                    right: 0;
                    margin: 0 10px 0;

                    span {
                        font-size: 14px;
                        color: #11253E;
                        margin: 0 5px 0;
                    }
                }

                &_confirm,
                &_cancel {
                    width: 45px;
                    height: 22px;
                    font-size: 14px;
                    color: #FFF;
                    border: 0;
                    border-radius: 10px;
                    margin: 0 0 0 3px;
                    cursor: pointer;
                }

                &_confirm {
                    background: red;
                }

                &_cancel {
                    background: blue;
                }

                &:hover {
                    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6393:28863)'%3E%3Cpath d='M5.43192 5.43359C5.62595 5.43359 5.7832 5.59085 5.7832 5.78488V12.4242C5.7832 12.6181 5.62595 12.7755 5.43192 12.7755C5.23788 12.7755 5.08063 12.6181 5.08063 12.4242V5.78488C5.08063 5.59085 5.23788 5.43359 5.43192 5.43359Z' fill='%2311253E'/%3E%3Cpath d='M9.57645 5.43359C9.77048 5.43359 9.92773 5.59085 9.92773 5.78488V12.4242C9.92773 12.6181 9.77048 12.7755 9.57645 12.7755C9.38241 12.7755 9.22516 12.6181 9.22516 12.4242V5.78488C9.22516 5.59085 9.38241 5.43359 9.57645 5.43359Z' fill='%2311253E'/%3E%3Cpath d='M12.598 4.46564V13.1206C12.598 13.6322 12.4104 14.1126 12.0827 14.4573C11.7565 14.8029 11.3026 14.9992 10.8276 15H4.1811C3.7059 14.9992 3.25197 14.8029 2.92593 14.4573C2.59825 14.1126 2.41067 13.6322 2.41067 13.1206V4.46564C1.75928 4.29275 1.33718 3.66345 1.42432 2.99504C1.51159 2.32677 2.08092 1.82688 2.75496 1.82674H4.55352V1.38763C4.55146 1.01837 4.69746 0.663786 4.95887 0.402928C5.22028 0.142208 5.57541 -0.00297272 5.94467 4.61562e-05H9.06399C9.43325 -0.00297272 9.78838 0.142208 10.0498 0.402928C10.3112 0.663786 10.4572 1.01837 10.4551 1.38763V1.82674H12.2537C12.9277 1.82688 13.4971 2.32677 13.5843 2.99504C13.6715 3.66345 13.2494 4.29275 12.598 4.46564V4.46564ZM4.1811 14.2974H10.8276C11.4282 14.2974 11.8954 13.7815 11.8954 13.1206V4.49652H3.11324V13.1206C3.11324 13.7815 3.58048 14.2974 4.1811 14.2974ZM9.75257 1.38763C9.7549 1.20471 9.68299 1.02866 9.55318 0.899533C9.42351 0.770408 9.24704 0.699464 9.06399 0.70262H5.94467C5.76162 0.699464 5.58515 0.770408 5.45548 0.899533C5.32566 1.02852 5.25376 1.20471 5.25609 1.38763V1.82674H9.75257V1.38763ZM12.2537 2.52931H2.75496C2.40573 2.52931 2.12264 2.8124 2.12264 3.16163C2.12264 3.51086 2.40573 3.79395 2.75496 3.79395H12.2537C12.6029 3.79395 12.886 3.51086 12.886 3.16163C12.886 2.8124 12.6029 2.52931 12.2537 2.52931V2.52931Z' fill='%2311253E'/%3E%3Cpath d='M7.50418 5.43359C7.69821 5.43359 7.85547 5.59085 7.85547 5.78488V12.4242C7.85547 12.6181 7.69821 12.7755 7.50418 12.7755C7.31015 12.7755 7.1529 12.6181 7.1529 12.4242V5.78488C7.1529 5.59085 7.31015 5.43359 7.50418 5.43359Z' fill='%2311253E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6393:28863'%3E%3Crect width='15' height='15' fill='white' transform='matrix(-1 0 0 1 15 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
                }
            }

            &:hover {
                transition: 0.1s;
                background: ghostwhite;
                border: 1px solid #11253E;
                border-radius: 15px;
            }

            @media (max-width: 768px) {
                grid-template-columns: none;
                margin: 0 0 15px;
            }
        }
    }
}

.hidden {
    display: none;
}
